body, html {
background: rgb(20,66,118); /* Old browsers */
background: -moz-linear-gradient(top,  rgb(20,66,118) 37%, rgb(199,204,208) 65%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(37%,rgb(20,66,118)), color-stop(65%,rgb(199,204,208))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgb(20,66,118) 37%,rgb(199,204,208) 65%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgb(20,66,118) 37%,rgb(199,204,208) 65%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgb(20,66,118) 37%,rgb(199,204,208) 65%); /* IE10+ */
background: linear-gradient(to bottom,  rgb(20,66,118) 37%,rgb(199,204,208) 65%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#144276', endColorstr='#c7ccd0',GradientType=0 ); /* IE6-9 */
height: 100%;
width: 100%;
}
#logo {
	width: 20%;
	height: 20%;
	float: left;
}
.inner>.container {
	background-color: #efe9e9;
}
div.slider-wrapper.theme-default {
	height: 50%;
	width: 85%;
}
.inner>.container>.row>.col-md-12 {
	padding-left: 15%;
	padding-top: 5%;

}