{% extends "base.html" %}
{% load cms_tags %}
{% block title %}{% page_attribute 'title' %}{% endblock title %}
{% block content %}

      <h1>{% page_attribute 'title' %}</h1>
      <section class="wide">
      <div id="slides">
        {% placeholder rslides %}
      </div>
        {% placeholder central_text %}

      </section>

      <section class="tricol">
        {% placeholder col_1 %}
      </section>

      <section class="tricol">
        {% placeholder col_2 %}
      </section>

      <section class="tricol">
        {% placeholder col_3 %}
      </section>

      <br style="clear:both;" />
{% endblock %}